{% extends 'base.html' %}



{% block content %}
	<!--Contenido-->
	<main>
		<!--Acerca de - contenido -->
		<div class="container">
			<div class="row contenedor">
				<div class="col">
					<h2 class="titulo">Acerca de Carlos Masuchi</h2>
					<div class="row projects justify-content-center">
						<div class="col-12 col-lg-3 col-md-3">
							<img src="img/user-img.jpg" class="rounded-circle w-100" alt="...">
							<hr>
							<p class="text-center">Carlos Masuchi</p>
							<hr>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<h5 class="title-project">Andres Shranka</h5>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.

							</p>

							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.

							</p>
						</div>
					</div>

					<h2 class="titulo">Conosimientos Profecionales</h2>
					<div> en caso que necesite mas texto</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}