{% extends 'base.html' %}
{% load static %}


{% block content %}
	<!--Contenido-->
	<main>
		<!--Acerca de - contenido -->
		<div class="container">
			<div class="row contenedor">
				<div class="col">
					<h2 class="titulo">Acerca del proyecto</h2>
					<div class="row projects justify-content-center">
						<div class="col-12 col-lg-3 col-md-3">
							<img src="{% static 'img/yo.jpg' %}" class="rounded-circle w-100" alt="...">
							<hr>
							<p class="text-center">Andres Shranka</p>
							<hr>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<h5 class="title-project">Andres Shranka</h5>
							<p>Soy Andres Shranka el programador de este pequeño proyecto para el ramo de taller integrado,
								este proyecto está siendo creado para evaluar todo lo que hemos abarcado durante el ramo,
								en este caso yo estoy trabajando con datos de clasificaciones de alumnos según ciertos criterios además de
								estar separados en distintos grupos.

							</p>

							<p>
								Link del proyecto en Github: <a href="https://github.com/Ashranka/django.git" target="_blank">Link</a>

							</p>
							<p> Link de donde obtuve los datos que trabaje:<a href="https://www.kaggle.com/spscientist/students-performance-in-exams" target="_blank">Link</a></p>
						</div>
					</div>

					<h2 class="titulo">Contacto</h2>
					<div class="col-12 col-lg-9 col-md-9">
						 andres.shranka@alumnos.upla.cl
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}